/**** Basic Styles ****/
* {
    box-sizing: border-box;
    font-family: Verdana, Helvetica, sans-serif;
    margin: 0px;
}

h1 {
  font-size: 175%;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}
section {
  width: 100%;
}
div {
    background-color: #c4c4c4;
    height: 200px;
    margin: 30px;
  border: 3px solid black;
  overflow: hidden;
}
p {
  float: right; /**** We want this always to be top right corner ****/
 }
p.title {
  width: 150px;
  font-size: 125%;
  text-align: center;
  margin: 0px;
  border: solid black;
  border-top: 3px;
  border-right: 3px;
}
#title1 {
  background-color: #f7a3a3;
}
#title2 {
  color: white;
  background-color: #d30404;
}
#title3 {
  background-color: #fff7a8;
}
p.content {
  clear: right; /**** we clear the preset float rule****/
  padding: 10px; /**** adding 10px padding all around the contents ****/
}

/********** Desktop Devices **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float:  left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Tablet Devices **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float:  left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile Devices **********/
@media (max-width: 767px) {
  .col-mb-1, .col-mb-2, .col-mb-3, .col-mb-4, .col-mb-5, .col-mb-6, .col-mb-7, .col-mb-8, .col-mb-9, .col-mb-10, .col-mb-11, .col-mb-12 {
    float: left;
  }
  .col-mb-1 {
    width: 8.33%;
  }
  .col-mb-2 {
    width: 16.66%;
  }
  .col-mb-3 {
    width: 25%;
  }
  .col-mb-4 {
    width: 33.33%;
  }
  .col-mb-5 {
    width: 41.66%;
  }
  .col-mb-6 {
    width: 50%;
  }
  .col-mb-7 {
    width: 58.33%;
  }
  .col-mb-8 {
    width: 66.66%;
  }
  .col-mb-9 {
    width: 74.99%;
  }
  .col-mb-10 {
    width: 83.33%;
  }
  .col-mb-11 {
    width: 91.66%;
  }
  .col-mb-12 {
    width: 100%;
  }
}
</style>